<ng-container *ngIf="operacao == 'cadastrar'">
  olá vou cadastrar
</ng-container>

<div class="container">
  <form>
    <img src="assets/logoesig.png">

    <div class="row">
      <div class="col-md-12">
        <label>Titulo</label>
        <input type="text" class="form-control input" name="titulo" [(ngModel)]="cliente.titulo">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Descrição</label>
        <textarea class="form-control input" name="descricao" [(ngModel)]="cliente.descricao"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Responsavel</label>
        <input type="text" placeholder="Responsavel" class="form-control input" name="responsavel"
          [(ngModel)]="cliente.responsavel">
      </div>
      <div class="col-md-6">
        <label>Status</label>
        <input type="text" placeholder="Status" class="form-control input" name="prioridade" [(ngModel)]="cliente.prioridade">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Prioridade</label>
        <select class="form-control input" name="prioridade" [(ngModel)]="cliente.prioridade">
          <option value="" selected>Prioridade</option>
          <option value="Baixa">Baixa</option>
          <option value="Média">Média</option>
          <option value="Alta">Alta</option>
        </select>
      </div>
      <div class="col-md-6">
        <label>Data</label>
        <input type="date" class="form-control input" name="data" [(ngModel)]="cliente.data">
      </div>
    </div>
    <div class="row">
      <div class="botoes">
        <button (click)="executa()" class="btn btn-success" style="margin-right: 10px;">{{ operacao }}</button>
        <button (click)="fechar()" class="btn btn-danger">Fechar</button>
      </div>
    </div>
  </form>
</div>
